@import "tailwindcss";

@media print {
  body {
    background-color: white !important;
    color: black !important;
  }
  nav, footer, .print\:hidden {
    display: none !important;
  }
  main {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
}
